{% extends "quotes/base.html" %}


{% block title %}Some Quotes{% endblock %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-7 col-s-8">
    <h1 class="text-center my-5">Quote Of The Day</h1>
    <div class="card ">
      <div class="card-body pb-0">
        <blockquote class="blockquote text-center">
          <p class="">Pleasure is an important component of the quality of life, but by itself it does not bring
            happiness. Pleasure helps to maintain order, but by itself cannot create a new order in consciousness.</p>
          <footer class="blockquote-footer mt-3 text-left">Some Famous Guy that is dead now</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-7 col-s-8">
    <h2 class="text-center mt-5 mb-3">Some other quotes</h2>
    <ul class="list-group">
      <li class="list-group-item">wahhh</li>
      <li class="list-group-item">ooga booga</li>
      <li class="list-group-item">Coder</li>
      <li class="list-group-item">yeet</li>
    </ul>
  </div>

</div>
{% endblock %}